<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>React-Demo</title>
  <link type="image/x-icon" href="../../static/jerry.jpg" rel="shortcut icon">
  <link type="image/x-icon" href="../../static/jerry.jpg" rel="icon">
  <link type="text/css" rel="stylesheet" href="../../static/css/base.css">
  <link type="text/css" rel="stylesheet" href="../../static/css/login.css">
  <link type="text/css" rel="stylesheet" href="../../static/css/index.css">
  <link type="text/css" rel="stylesheet" href="../static/css/register.css">
  <!--<script type="text/javascript" src=""></script>-->
</head>
<body>

  <div id="react-demo"></div>

  <script type="text/javascript" src="../../static/js/build/index.js"></script>
</body>
</html>
