#registerpagewrap {
  width: 100%;
  height: 100vh;
  background-color: #f9f9f9;
  overflow: hidden;
}

#registerpagewrap p {
  text-align: center;
  font-size: 27px;
  font-family: 'cursive';
  margin-top: 5%;
  margin-bottom: 1.4%;
  font-weight: bold;
  color: #888;
}

#registerwrap {
  width: 50%;
  margin: 0 auto;
  border:1px #ccc solid;
  /*padding: 2%;*/
  border-radius: 5px;
  background-color: #fff;
}

.register-form {
  max-width: 500px;
  margin: 100px auto;
}
